node_modules
npm-debug.log
.next
out
.git
.gitignore
.env*
coverage
e2e
test-results
playwright-report
*.md
.eslintrc*
jest.config*
jest.setup*
playwright.config*
tsconfig*.json
next.config.js
tailwind.config.js
postcss.config.js
Dockerfile*
.dockerignore
